<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BCWeiXin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D3DAA9B61C8133C60018D317</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D3DAA9CF1C8133C70018D317</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D3DAA9DA1C8133C70018D317</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
